*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

body{
  background-color: lightblue;
  height: 100%;
  overflow: hidden;
}

.myheader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5px;
}

.startContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: red;
  flex-direction: column;
  row-gap: 20px;
}

.startInstructions{
  width: 500px;
  text-align: center;
}

.startButton{
  border-radius: 50%;
  font-size: 20px;
  width: 200px;
  height: 100px;
  background-image: url("images/test-2.png");
  background-size: 100% 100%;
  border: 1px black solid;
  cursor: pointer;
}

.timer-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  margin-left: 47.5%;
}

.external{
  background: black;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.internal{
  background: red;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.time-body{
  display: flex;
}

.hour,.minute,.second,.ms{
  text-align: center;
  width: auto;
}

.scoreContainer{
  display: flex;
  margin-right: 5px;
}

.gameOver{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.endOfGameScore{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
