*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightblue;
  height: 100%;
  overflow: hidden;
}

.startContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: red;
}

.timer-container{
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
}

.external{
  background: black;
  width: 51px;
  height: 51px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.internal{
  background: red;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.time-body{
  display: flex;
  justify-content: flex-start;
}

.hour,.minute,.second,.ms{
  border: 1px solid black;
  text-align: center;
  width: auto;
}
